# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

!src/common/.gitkeep
src/common/**/

.secret.local

.env
.env.local

.env.dev
.env.test
.env.stg
.env.prod

.env.dev.local
.env.test.local
.env.stg.local
.env.prod.local

.env.dev.encoded.txt
.env.test.encoded.txt
.env.stg.encoded.txt
.env.prod.encoded.txt

.env.dev.decoded.txt
.env.test.decoded.txt
.env.stg.decoded.txt
.env.prod.decoded.txt

data
